.d-container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    background: rgba(254, 239, 212, 0.772);
}
.d-container>img{
    transform: scale(.8);
    position: absolute;
    top: 0%;
    left: 10%;
}
.d-content{
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 9rem auto;
    border-radius: 15px;
    color: white;
    background: var(--bg-orange);
}
.d-content>h1{
    margin: 0;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.d-content .d-btn{
    padding: 1.2rem 3rem ;
    margin-top: 2rem;
    background: var(--bg-darkblue);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
@media only screen and (max-width:530px){
    .d-container{
        padding: 1rem 0rem;
    }
    .d-content{
        width: 80%;
        height: 50vh;
        text-align: center;
        margin: 1rem auto;
    }
    .d-content span{
        font-size: .6rem;
    }
    .d-container img{
        display: none;
    }
    .d-content>h1{
        font-size: 1rem;
    }
    .d-content .d-btn{
        padding: .7rem 1.5rem ;
        margin-top: 1rem;
        font-size: .7rem;
    }
}