:root{
    --bg-orange:#fe1a31e1;
    --color: #acabab;
    --bg-darkblue: rgba(1, 1, 32, 0.871);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 * {
  font-family:'outfit';
}
@media only screen and (max-width:430px){
  img{
    display: none;
  }
  span{
    font-size: 14px;
  }
  .container{
    width: 100%;
  }
}
